li
{
	display: inline;
}

div
{
	display: inline-block;
	width: 100%;
}

#NavBar
{
	position: sticky;
	top: 0;
	overflow: hidden;
}

#NavBar a
{
	float: left;
	display: block;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

.section1
{
	background-color: rgb(245,240,230);
}

.section2
{
	background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');
	color: white;
}
